img {
    width: 300px;
}
/* Paragraph Styles */
p {
    color: white; 
}
/* Header Styles */
head, header {
    margin: 0 0 -20px 0;
    color: rgb(255, 255, 255);
    background-color: rgba(151, 113, 227, 0.503);
}
h1 {
    font-size: 100px;
    font-family: cursive;
    text-align: center;
}
.subheader {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}
h2, h3 {
    color: rgb(12, 10, 124);
    font-family: cursive;
}
.louisburg {
    color:black;
    text-align: center;
    border: 1px solid black;
    height: 200px;
    background-color: white;
}
.cousin {
    color:black;
    text-align: center;
    border: 1px solid black;
    height: 310px;
    background-color: white;
}
img {
    text-align: center;
}